############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class

############################
# Django
############################
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

############################
# Virtual environments
############################
.venv/
venv/
env/

############################
# Environment variables
############################


############################
# IDE
############################
.vscode/
.idea/

############################
# OS
############################
.DS_Store
Thumbs.db

