############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class

############################
# Django
############################
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

############################
# Virtual environments
############################
.venv/
venv/
env/

############################
# Environment variables
############################
DaESD-Group-Assignment.code-workspace
services/payment-gateway-service/.env.secure
services/payment-gateway-service/.env.secure.*
!services/payment-gateway-service/.env.secure.example

############################
# IDE
############################
.vscode/
.idea/

############################
# OS
############################
.DS_Store
Thumbs.db

