############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class

############################
# Django
############################
*.sqlite3
db.sqlite3
# Only ignore user uploads, keep seed images
media/*
!media/products/
media/products/*
!media/products/bread.jpg
!media/products/carrot.jpg
!media/products/milk.jpg
staticfiles/
*.log
.env.secure

############################
# Virtual environments
############################
.venv/
venv/
env/

############################
# Environment variables
############################
DaESD-Group-Assignment.code-workspace

############################
# IDE
############################
.vscode/
.idea/

############################
# OS
############################
.DS_Store
Thumbs.db

#Stripe payments key file (it's in teams chat)
/services/payment-gateway-service/env.secure
